<a href="https://colab.research.google.com/github/Vibhutideshmukh/python../blob/main/Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list_of_numbers = [1,2,4,6,11,14,17,20]
squared_numbers = []
for number in list_of_numbers:
    squared_numbers.append(number**2)
    print(f"The list of squared numbers is {squared_numbers}")

The list of squared numbers is [1]
The list of squared numbers is [1, 4]
The list of squared numbers is [1, 4, 16]
The list of squared numbers is [1, 4, 16, 36]
The list of squared numbers is [1, 4, 16, 36, 121]
The list of squared numbers is [1, 4, 16, 36, 121, 196]
The list of squared numbers is [1, 4, 16, 36, 121, 196, 289]
The list of squared numbers is [1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
even_squared_numbers =[number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [ ]:
odd_squared_numbers =[number**2 if number%2!=0 else number**3 for number in list_of_numbers ]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [ ]:
odd_squared_numbers =[number**2 for number in list_of_numbers if number%2!=0]
print(odd_squared_numbers)

[1, 121, 289]

In [ ]:
list_of_numbers = []
for num1 in range(4):
  for num2 in range(3):
      list_of_numbers.append(num2)
      print(list_of_numbers)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 0]
[0, 1, 2, 0, 1]
[0, 1, 2, 0, 1, 2]
[0, 1, 2, 0, 1, 2, 0]
[0, 1, 2, 0, 1, 2, 0, 1]
[0, 1, 2, 0, 1, 2, 0, 1, 2]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
list_of_numbers = [num2 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
list_of_numbers = [num2**2 for num2 in range(3) for num1 in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 4, 4, 4, 4]

In [13]:
list_of_lists = []
for num1 in range(4):
  list_of_lists.append([])
    for num2 in range(3):
        list_of_lists[num1].append(num2)
        print(list_of_lists)

IndentationError: unexpected indent (<ipython-input-13-6ed2fd4c40c9>, line 4)

In [15]:
sample = [[]]
len(sample)
sample[0]

[]

In [16]:
list_of_lists = [[num1 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [17]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger "
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger', '']

In [19]:
heisenberg_quote.split('t')

['I',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 " me. No, you clearly don'",
 " know who you're ",
 'alking ',
 'o, so le',
 ' me clue you in. I am no',
 ' in danger ']

In [20]:
heisenberg_quote.split(',')

['It ceases to exist without me. No',
 " you clearly don't know who you're talking to",
 ' so let me clue you in. I am not in danger ']

In [22]:
my_string = 'Alphabet Inc.'
list_of_characters = [char for char in my_string]
print(list_of_characters)

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

In [23]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [24]:
days_without_day = tuple([day[:-3] for day in days])
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

In [25]:
country_city_list = [('India', 'New Delhi'),('Australia','Canberra'),('United States','Washington DC'),('England','London')]
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}

In [27]:
flipped = {city:country for country, city in country_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washington DC': 'United States', 'London': 'England'}

In [29]:
flipped = {city: country for country, city in country_city_dict.items() if country[0] in ['E','A']}
print(flipped)

{'Canberra': 'Australia', 'London': 'England'}

In [31]:
flipped = {country[:2] : city[-2:] for country, city in country_city_dict.items()}
print(flipped)

{'In': 'hi', 'Au': 'ra', 'Un': 'DC', 'En': 'on'}

In [33]:
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washington DC', 'England': 'London'}