<a href="https://colab.research.google.com/github/Vibhutideshmukh/python../blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']
for house in got_houses:
  print(f"House {house}")

House Stark
House Arryn
House Baratheon
House Tully
House Greyjoy
House Lannister
House Tyrell
House Martell
House Targaryen

In [ ]:
got_houses

['Stark',
 'Arryn',
 'Baratheon',
 'Tully',
 'Greyjoy',
 'Lannister',
 'Tyrell',
 'Martell',
 'Targaryen']

In [ ]:
x = 1,2
x

(1, 2)

In [ ]:
list_of_numbers = [1,2,4,6,11,14,17,20]
for number in list_of_numbers:
  squared_number = number**2
    print(f"The square of {number} is {squared_number}")

IndentationError: unexpected indent (<ipython-input-7-adb6d4c49b00>, line 4)

In [ ]:
list(enumerate(got_houses))

[(0, 'Stark'),
 (1, 'Arryn'),
 (2, 'Baratheon'),
 (3, 'Tully'),
 (4, 'Greyjoy'),
 (5, 'Lannister'),
 (6, 'Tyrell'),
 (7, 'Martell'),
 (8, 'Targaryen')]

In [ ]:
for number in range(0,10,3):
    squared_number = number**2
      print(f"The square of {number} is {squared_number}")

IndentationError: unexpected indent (<ipython-input-21-115043a887d1>, line 3)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2,21,2):
      print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger"
words_by_walter = heisenberg_quote.split()
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger']

In [ ]:
for index,char in enumerate(heisenberg_quote):
    print(f"The index is {index} and the character is {char}")

The index is 0 and the character is I
The index is 1 and the character is t
The index is 2 and the character is
The index is 3 and the character is c
The index is 4 and the character is e
The index is 5 and the character is a
The index is 6 and the character is s
The index is 7 and the character is e
The index is 8 and the character is s
The index is 9 and the character is
The index is 10 and the character is t
The index is 11 and the character is o
The index is 12 and the character is
The index is 13 and the character is e
The index is 14 and the character is x
The index is 15 and the character is i
The index is 16 and the character is s
The index is 17 and the character is t
The index is 18 and the character is
The index is 19 and the character is w
The index is 20 and the character is i
The index is 21 and the character is t
The index is 22 and the character is h
The index is 23 and the character is o
The index is 24 and the character is u
The index is 25 and the character is t
The index is 26 and the character is
The index is 27 and the character is m
The index is 28 and the character is e
The index is 29 and the character is .
The index is 30 and the character is
The index is 31 and the character is N
The index is 32 and the character is o
The index is 33 and the character is ,
The index is 34 and the character is
The index is 35 and the character is y
The index is 36 and the character is o
The index is 37 and the character is u
The index is 38 and the character is
The index is 39 and the character is c
The index is 40 and the character is l
The index is 41 and the character is e
The index is 42 and the character is a
The index is 43 and the character is r
The index is 44 and the character is l
The index is 45 and the character is y
The index is 46 and the character is
The index is 47 and the character is d
The index is 48 and the character is o
The index is 49 and the character is n
The index is 50 and the character is '
The index is 51 and the character is t
The index is 52 and the character is
The index is 53 and the character is k
The index is 54 and the character is n
The index is 55 and the character is o
The index is 56 and the character is w
The index is 57 and the character is
The index is 58 and the character is w
The index is 59 and the character is h
The index is 60 and the character is o
The index is 61 and the character is
The index is 62 and the character is y
The index is 63 and the character is o
The index is 64 and the character is u
The index is 65 and the character is '
The index is 66 and the character is r
The index is 67 and the character is e
The index is 68 and the character is
The index is 69 and the character is t
The index is 70 and the character is a
The index is 71 and the character is l
The index is 72 and the character is k
The index is 73 and the character is i
The index is 74 and the character is n
The index is 75 and the character is g
The index is 76 and the character is
The index is 77 and the character is t
The index is 78 and the character is o
The index is 79 and the character is ,
The index is 80 and the character is
The index is 81 and the character is s
The index is 82 and the character is o
The index is 83 and the character is
The index is 84 and the character is l
The index is 85 and the character is e
The index is 86 and the character is t
The index is 87 and the character is
The index is 88 and the character is m
The index is 89 and the character is e
The index is 90 and the character is
The index is 91 and the character is c
The index is 92 and the character is l
The index is 93 and the character is u
The index is 94 and the character is e
The index is 95 and the character is
The index is 96 and the character is y
The index is 97 and the character is o
The index is 98 and the character is u
The index is 99 and the character is
The index is 100 and the character is i
The index is 101 and the character is n
The index is 102 and the character is .
The index is 103 and the character is
The index is 104 and the character is I
The index is 105 and the character is
The index is 106 and the character is a
The index is 107 and the character is m
The index is 108 and the character is
The index is 109 and the character is n
The index is 110 and the character is o
The index is 111 and the character is t
The index is 112 and the character is
The index is 113 and the character is i
The index is 114 and the character is n
The index is 115 and the character is
The index is 116 and the character is d
The index is 117 and the character is a
The index is 118 and the character is n
The index is 119 and the character is g
The index is 120 and the character is e
The index is 121 and the character is r

In [ ]:
for index,char in enumerate(heisenberg_quote):
    print(f"The index is {index} and the character is {char}")

The index is 0 and the character is I
The index is 1 and the character is t
The index is 2 and the character is
The index is 3 and the character is c
The index is 4 and the character is e
The index is 5 and the character is a
The index is 6 and the character is s
The index is 7 and the character is e
The index is 8 and the character is s
The index is 9 and the character is
The index is 10 and the character is t
The index is 11 and the character is o
The index is 12 and the character is
The index is 13 and the character is e
The index is 14 and the character is x
The index is 15 and the character is i
The index is 16 and the character is s
The index is 17 and the character is t
The index is 18 and the character is
The index is 19 and the character is w
The index is 20 and the character is i
The index is 21 and the character is t
The index is 22 and the character is h
The index is 23 and the character is o
The index is 24 and the character is u
The index is 25 and the character is t
The index is 26 and the character is
The index is 27 and the character is m
The index is 28 and the character is e
The index is 29 and the character is .
The index is 30 and the character is
The index is 31 and the character is N
The index is 32 and the character is o
The index is 33 and the character is ,
The index is 34 and the character is
The index is 35 and the character is y
The index is 36 and the character is o
The index is 37 and the character is u
The index is 38 and the character is
The index is 39 and the character is c
The index is 40 and the character is l
The index is 41 and the character is e
The index is 42 and the character is a
The index is 43 and the character is r
The index is 44 and the character is l
The index is 45 and the character is y
The index is 46 and the character is
The index is 47 and the character is d
The index is 48 and the character is o
The index is 49 and the character is n
The index is 50 and the character is '
The index is 51 and the character is t
The index is 52 and the character is
The index is 53 and the character is k
The index is 54 and the character is n
The index is 55 and the character is o
The index is 56 and the character is w
The index is 57 and the character is
The index is 58 and the character is w
The index is 59 and the character is h
The index is 60 and the character is o
The index is 61 and the character is
The index is 62 and the character is y
The index is 63 and the character is o
The index is 64 and the character is u
The index is 65 and the character is '
The index is 66 and the character is r
The index is 67 and the character is e
The index is 68 and the character is
The index is 69 and the character is t
The index is 70 and the character is a
The index is 71 and the character is l
The index is 72 and the character is k
The index is 73 and the character is i
The index is 74 and the character is n
The index is 75 and the character is g
The index is 76 and the character is
The index is 77 and the character is t
The index is 78 and the character is o
The index is 79 and the character is ,
The index is 80 and the character is
The index is 81 and the character is s
The index is 82 and the character is o
The index is 83 and the character is
The index is 84 and the character is l
The index is 85 and the character is e
The index is 86 and the character is t
The index is 87 and the character is
The index is 88 and the character is m
The index is 89 and the character is e
The index is 90 and the character is
The index is 91 and the character is c
The index is 92 and the character is l
The index is 93 and the character is u
The index is 94 and the character is e
The index is 95 and the character is
The index is 96 and the character is y
The index is 97 and the character is o
The index is 98 and the character is u
The index is 99 and the character is
The index is 100 and the character is i
The index is 101 and the character is n
The index is 102 and the character is .
The index is 103 and the character is
The index is 104 and the character is I
The index is 105 and the character is
The index is 106 and the character is a
The index is 107 and the character is m
The index is 108 and the character is
The index is 109 and the character is n
The index is 110 and the character is o
The index is 111 and the character is t
The index is 112 and the character is
The index is 113 and the character is i
The index is 114 and the character is n
The index is 115 and the character is
The index is 116 and the character is d
The index is 117 and the character is a
The index is 118 and the character is n
The index is 119 and the character is g
The index is 120 and the character is e
The index is 121 and the character is r

In [ ]:
country_city_river_list = [('India','New Delhi','Ganga',),('Australia','Canberra','Rovers'),('United States','Wahington DC','Missouri'),('England','London','Thames')]
for country,city,river in country_city_river_list:
  print(f"The capital of {country} is {city} and it also has the river {river}.")

The capital of India is New Delhi and it also has the river Ganga.
The capital of Australia is Canberra and it also has the river Rovers.
The capital of United States is Wahington DC and it also has the river Missouri.
The capital of England is London and it also has the river Thames.

In [ ]:
for word in words_by_walter:
    if word in ['I','me.']:
         print(f"The word is {word}")

The word is me.
The word is I

In [ ]:
days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
for day in days:
  print(f"Today is {day}")

Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday
Today is Sunday

In [ ]:
for elem in {1,2,3}:
    print(elem)

1
2
3

In [ ]:
country_city_dict = {1:"India",2:"USA"}
for item in country_city_dict:
  print(item,country_city_dict[item])

1 India
2 USA

In [ ]:
for country, city in country_city_dict.items():
    print(f"The capital of {country} is {city}")

The capital of 1 is India
The capital of 2 is USA

In [ ]:

x= 0
while x < 10:
  print('x is currently: ',x)
    print('x is still less than 10, adding 1 to x')
      x= x+1

IndentationError: unexpected indent (<ipython-input-40-558cfa99f859>, line 4)

In [ ]:

x= 0
while x<5:
  print('x is currently: ',x)
    print('x is still less than 10, adding 1 to x')
      x+=1
      print("All done")
      print("I am done with the iterations")

IndentationError: unexpected indent (<ipython-input-44-393d79a7241a>, line 4)